doctype html
html(lang="en" data-git=git data-rev=rev)
  head
    meta(charset="utf-8")
    title Laima + Webpack
    link(href="[[ application-*.css]]" rel="stylesheet" type="text/css")
    link(href="http://fonts.googleapis.com/css?family=Roboto:100,300,700,400" rel="stylesheet" type="text/css")
    meta(name="viewport" content="width=device-width,initial-scale=1")
  body
    #app

    script(src="[[ vendor-*.js ]]")
    script(src="[[ bundle-*.js ]]")
