doctype html
html(lang="en" data-git=git data-rev=rev)
  head
    meta(charset="utf-8")
    title Laima + Webpack
    link(href="[[ application-*.css]]" rel="stylesheet" type="text/css")
    link(href="http://fonts.googleapis.com/css?family=Roboto:100,300,700,400" rel="stylesheet" type="text/css")
    meta(name="viewport" content="width=device-width,initial-scale=1")
  body
    #app
      .weather
        .weather-today
          .icon.sun-shower
            .cloud
            .sun
              .rays
            .rain
          .weather-info
            .weather-detail
              span.weather-local Taichung
              span.weather-date 2015-09-08
              span.weather-type Sunny
            .weather-temp
              span.weather-degree 79
                span.weather-temperature °F
        .weather-week
          ul.weather-days
            li.weather-day
              span.weather-weekday SUN
              .icon.sun-shower
                .cloud
                .sun
                  .rays
                .rain
            li.weather-day
              span.weather-weekday MON
              .icon.fair
                .cloud
                .sun
                  .rays
            li.weather-day.is-today
              span.weather-weekday TUE
              .icon.sunny
                .sun
                  .rays
            li.weather-day
              span.weather-weekday WED
              .icon.thunder-storm
                .cloud
                .lightning
                  .bolt
                  .bolt
            li.weather-day
              span.weather-weekday THU
              .icon.cloudy
                .cloud
                .cloud
            li.weather-day
              span.weather-weekday FRI
              .icon.flurries
                .cloud
                .snow
                  .flake
                  .flake
            li.weather-day
              span.weather-weekday SAT
              .icon.sun-shower
                .cloud
                .sun
                  .rays
                .rain

    script(src="[[ vendor-*.js ]]")
    script(src="[[ bundle-*.js ]]")
