doctype html
html(lang="en" data-git=git data-rev=rev)
  head
    meta(charset="utf-8")
    title Laima + Webpack
    link(href="[[ application-*.css]]" rel="stylesheet" type="text/css")
    meta(name="viewport" content="width=device-width,initial-scale=1")
  body
    h1 Welcome To Laima + Webpack

    script(src="[[ vendor-*.js ]]")
    script(src="[[ bundle-*.js ]]")
